# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database
*.db
*.sqlite3

# API Keys and Environment Variables
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

files/
summary/
model/